Repository loiste-ui/loiste-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,ts,tsx,css,scss,md,mdx}": "prettier --write --ignore-unknown"
}

changeset
  .changeset/flat-ears-yell.md
Due: prettier --write --ignore-unknown

upgrade
  .changeset/flat-ears-yell.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/loiste-ui/CHANGELOG.md
  packages/loiste-ui/package.json
  packages/tailwind-config/CHANGELOG.md
  packages/tailwind-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: prettier --write --ignore-unknown

Moved files
  apps/docs/package.json
  packages/loiste-ui/.storybook/main.ts
  packages/loiste-ui/package.json
  packages/loiste-ui/postcss.config.js
  packages/loiste-ui/src/components/Button/Button.stories.ts
  packages/loiste-ui/src/components/Button/Button.tsx
  packages/loiste-ui/src/stories/Button.tsx
  packages/loiste-ui/src/stories/assets/code-brackets.svg
  packages/loiste-ui/src/stories/assets/colors.svg
  packages/loiste-ui/src/stories/assets/comments.svg
  packages/loiste-ui/src/stories/assets/direction.svg
  packages/loiste-ui/src/stories/assets/flow.svg
  packages/loiste-ui/src/stories/assets/plugin.svg
  packages/loiste-ui/src/stories/assets/repo.svg
  packages/loiste-ui/src/stories/assets/stackalt.svg
  packages/loiste-ui/src/stories/button.css
  packages/loiste-ui/tailwind.config.js
  packages/tailwind-config/package.json
  packages/tailwind-config/postcss.config.js
  packages/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write --ignore-unknown

Fixed tailwind for storybook
  apps/docs/src/pages/index.tsx
  packages/loiste-ui/.storybook/main.ts
  packages/loiste-ui/.storybook/preview.ts
  packages/tailwind-config/package.json
  packages/tailwind-config/postcss.config.js
  packages/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write --ignore-unknown

Cleaning
  .eslintrc.js
  apps/docs/src/pages/_app.tsx
  apps/docs/tailwind.config.js
  packages/loiste-ui/.eslintrc.js
  packages/loiste-ui/src/index.tsx
Due: eslint --cache --fix, prettier --write --ignore-unknown

Upgrade
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/loiste-ui/CHANGELOG.md
  packages/loiste-ui/package.json
  packages/tailwind-config/CHANGELOG.md
  packages/tailwind-config/package.json
Due: prettier --write --ignore-unknown

Storybook build works
  .gitignore
  packages/loiste-ui/package.json
  pnpm-lock.yaml
Due: none

prettier rules
  .prettierignore
  .prettierrc.json
  apps/docs/src/pages/_app.tsx
  apps/docs/src/pages/_document.tsx
  apps/docs/src/pages/index.tsx
  packages/loiste-ui/.storybook/main.ts
  packages/loiste-ui/.storybook/preview.ts
  packages/loiste-ui/src/components/Button/Button.stories.ts
  packages/loiste-ui/src/components/Button/Button.tsx
  packages/loiste-ui/src/hooks/useExample/useExample.ts
  packages/loiste-ui/src/index.tsx
  packages/loiste-ui/tsup.config.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

Added storybook tests
  apps/docs/src/pages/index.tsx
  package.json
  packages/loiste-ui/package.json
  packages/loiste-ui/src/components/Button/Button.stories.ts
  packages/loiste-ui/src/components/Button/Button.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write --ignore-unknown

story
  packages/loiste-ui/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write --ignore-unknown

Basic text component
  apps/docs/src/pages/index.tsx
  packages/loiste-ui/src/components/Button/Button.tsx
  packages/loiste-ui/src/components/Text/Text.stories.ts
  packages/loiste-ui/src/components/Text/Text.tsx
  packages/loiste-ui/src/index.tsx
Due: eslint --cache --fix, prettier --write --ignore-unknown

Added Heading component
  apps/docs/src/pages/index.tsx
  packages/loiste-ui/src/components/Button/Button.tsx
  packages/loiste-ui/src/components/Heading/Heading.stories.ts
  packages/loiste-ui/src/components/Heading/Heading.tsx
  packages/loiste-ui/src/components/Text/Text.stories.ts
  packages/loiste-ui/src/index.tsx
  turbo.json
Due: eslint --cache --fix, prettier --write --ignore-unknown

0.0.4
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/loiste-ui/CHANGELOG.md
  packages/loiste-ui/package.json
Due: prettier --write --ignore-unknown

Box,Container,Flex,Heading,Text ref update
  apps/docs/src/pages/_document.tsx
  apps/docs/src/pages/index.tsx
  packages/loiste-ui/src/components/Box/Box.stories.ts
  packages/loiste-ui/src/components/Box/Box.tsx
  packages/loiste-ui/src/components/Button/Button.tsx
  packages/loiste-ui/src/components/Container/Container.stories.ts
  packages/loiste-ui/src/components/Container/Container.tsx
  packages/loiste-ui/src/components/Flex/Flex.stories.ts
  packages/loiste-ui/src/components/Flex/Flex.tsx
  packages/loiste-ui/src/components/Heading/Heading.tsx
  packages/loiste-ui/src/components/Text/Text.tsx
  packages/loiste-ui/src/index.tsx
Due: eslint --cache --fix, prettier --write --ignore-unknown

Added schema
  apps/docs/src/pages/index.tsx
  packages/loiste-ui/src/components/Box/Box.tsx
  packages/loiste-ui/src/components/Container/Container.tsx
  packages/loiste-ui/src/components/Heading/Heading.tsx
  packages/loiste-ui/src/components/Text/Text.tsx
  packages/loiste-ui/src/index.tsx
  packages/loiste-ui/src/schemas/font/font.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown

init development branch
  packages/loiste-ui/src/components/Box/Box.stories.ts
  packages/loiste-ui/src/components/Box/Box.tsx
  packages/loiste-ui/src/components/Container/Container.stories.ts
  packages/loiste-ui/src/components/Container/Container.tsx
  packages/loiste-ui/src/components/Flex/Flex.stories.ts
  packages/loiste-ui/src/components/Flex/Flex.tsx
  packages/loiste-ui/src/components/Heading/Heading.stories.ts
  packages/loiste-ui/src/components/Heading/Heading.tsx
  packages/loiste-ui/src/components/Text/Text.stories.ts
  packages/loiste-ui/src/components/Text/Text.tsx
  packages/loiste-ui/src/schemas/font/font.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown
